#!/usr/bin/make -f

QTIDM_CHROME_EXTENSION_ID ?= aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
export QTIDM_CHROME_EXTENSION_ID

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr -DQTIDM_BUILD_TESTS=OFF -DQTIDM_CHROME_EXTENSION_ID=$(QTIDM_CHROME_EXTENSION_ID)

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
